VITE_SUPABASE_URL=https://dprqwknirystyibaijjt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRwcnF3a25pcnlzdHlpYmFpamp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE3NDY1NTUsImV4cCI6MjA1NzMyMjU1NX0.twFoUcGqFN2Bq8r_ryzR9DpN5kvcRezhKSXlmo9DQvk
